{% extends "base.html" %}
{% load static %}
{% block title %}

خانه|شبایاب
{% endblock %}

{% block content %}
<div class="row text-center">
   <div class="col-md-12">
     <div class="hero-img wow fadeIn">

     </div>
   </div>
   <div class="col-md-12">
     <div class="hero-content wow fadeIn">
       <h1>پروژه آزاد محاسبه شناسه شبا (در حال توسعه)</h1>
       <p>این یک پروژه تفریحی است ولی تضمین میکنم کار میکنه!</p>
     </div>
   </div>
   <div id="products" class="features wow fadeInDown">
     <div class="container-m">
       <div class="row text-center">
         <div class="col-md-12">
           <div class="features-intro">

           </div>
         </div>
            <div class="container-fluid">
            <div class="row">
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="" ></a></div>
                     </div>

                     <div class="text-center"><span class="field-content"><a href="{% url 'banks' %}" >hesab be sheba</a></span></div>
                      <div class="text-center"><span class="field-content"><a href="{% url 'shebatohesab' %}" >sheba be hesab</a></span></div>
                  </div>
            </div>
            </div>

          </div> {% endblock %}



